.top-banner
{
    height: 93vh;
    width: 100%;
    place-items: center;

    background-image: url(/src/assets/bgcafe.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: 75% 75%;
}

.captions
{    
    min-width: 100%;
    position:absolute;
    top: 30vh;
    
    background-color: hsla(0, 0%, 0%, 0.65);
    text-align: center;
}

.captions h4
{
    min-height: 2rem;
    margin-top: .2rem;
    padding:0;
    overflow: auto;
}

.btn-bordered
{
    margin: 0px;
    padding: .2rem .4rem .2rem .4rem;
    background-color: hsla(0, 0%, 0%, 0);
    
    color: white;
    text-decoration: none;

    border: 2px solid white;
    border-radius: 4px;
}

/* RESPONSIVE ELEMENTS HERE */ 
/* WIDER WINDOW / LANDSCAPE ORIENTATION */
@media screen and (min-width:601px)
{
    .captions
    {    
        height: 40vh;
        padding: 3% 0 3% 0;
    }

    .captions h1 
    {
        margin: 0;
        font-size: 5vw;
        line-height: 8vw;
    }
    
    .captions h4
    {
        font-size: 1.5vw;
    }

    .captions button
    {
        width: 25vw;
        border: .3vw solid white;
        border-radius: 3px;
        font-size: 2vw;
    }
}

/* NARROW WINDOW / PORTRAIT ORIENTATION */
@media screen and (max-width:600px)
{
    .captions
    {    
        padding: 9% 0 9% 0;
    }
    
    .captions h1 
    {
        margin: 0;
        font-size: 9vw;
        line-height: 3.4rem;
    }
    
    .captions h4
    {
        min-height: 2rem;
        font-size: 3vw;
    }

    .captions button
    {
        width: 50vw;
        height: 8vw;
        
        border: .8vw solid white;
        border-radius: 3px;
        font-size: 4vw;
    }
    
}



