.footer
{
    min-height: 20vh;
    min-width: 100vw;

    color: hsl(0, 0%, 70%);
}

hr.footerborder
{
    border: 1px solid hsl(0, 0%, 35%);
}

.footer-container
{
    padding: 0 2vw 0 2vw;
    text-align: center;
    
}

.author
{
    font-size: 1vw;
}

/* RESPONSIVE ELEMENTS HERE */
/* WIDE WINDOW / LANDSCAPE ORIENTATION */
@media screen and (min-width:601px)
{
    .footer
    {
        font-size: 1.25vw;
    }
}

/* NARROW WINDOW / PORTRAIT ORIENTATION */
@media screen and (max-width:600px)
{
    .footer
    {
        font-size: 3vw;
    }

    .author
    {
        font-size: 2vw;
    }
}