.navbar
{
    min-width: 100vw;
    height: 7vh;
    padding-left: 1%;
    
    display: flex;
    position: fixed;
    z-index: 1;
    place-items: center;

    background-color: hsl(275, 25%, 19%);

    font-family: "Life Savers", serif;
}

.company-title
{
    min-height: 100%;
    
    font-family: "Single Day", cursive;
    place-content: center;
}

.company-title a
{
    text-decoration: none;
    color: white;
}

.navbar ul
{
    min-width: 27vw;
    height:100%;
    margin-left: 25vw;
    
    list-style-type: none;
    font-weight: bolder;
    padding-top: 2vw;
}

.navbar li
{ 
    display: inline;

    height: 1%;
    padding: 0.25vw 1.5vw .5vw 1.5vw;
    
    text-align: center;
    font-size: 2vw;
    color:hsl(0, 0%, 100%);
}

.navbar li a
{
    text-decoration: none;
    color: inherit;
}

#mini-menu
{
    max-width: 8vw;
    max-height: 8vh;

    margin: 45vw;

    place-items: center;
}

#navi-icon
{
    
    max-width: 7vw;
    max-height: 7vw;   
}

/* RESPONSIVE ELEMENTS HERE */
/* WIDE WINDOW / LANDSCAPE ORIENTATION */
@media screen and (min-width:601px)
{
    .navbar ul
    {
        display: block;
        margin-left: 25vw;
    }

    .navbar li
    {
        font-size: 2vw;
    }

    /* #mini-menu
    {
        display: none;
    } */

    .company-title
    {
        min-width: 30vw;
        font-size: 3.5vw;
    }
}


/* NARROW WINDOW / PORTRAIT ORIENTATION */
@media screen and (max-width:600px)
{
    .navbar ul
    {
        display: block;
        margin-left: 0;
    }

    .navbar li
    {
        font-size: 3vw;
    }

    /* #mini-menu
    {
        display:block;
    } */

    .company-title
    {
        min-width: 37vw;
        font-size: 5vw;
    }
}


