:root 
{
  font-family: "Libre Caslon Text", serif;
  color: white;
}

body
{
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;

  background-color: hsl(275, 18%, 13%);
}

h1, h4, button
{
  font-family: "Libre Caslon Text", serif;
}
