.menu-item
{
    /* border: 1px solid magenta; */

    display: flex;
    flex-direction: row;

    color: #483257;
}



.menu-item-name
{
    /* border: 1px solid aqua; */
    
    margin: 0 1vw 0 1vw;
    font-family: "Solitreo", cursive;
}

.menu-item-desc
{
    margin: 0 1vw 0 1vw;
}

.price-container
{
    min-width: 8vw;
    text-align: center;
}

/* RESPONSIVE ELEMENTS HERE */
/* WIDER WINDOW / LANDSCAPE ORIENTATION */
@media screen and (min-width:601px)
{
    .item-container
    {
        width:30vw;
    }
    
    .menu-item
    {
        max-width:40vw;
    }

    .menu-item-name
    {
        font-size: 2vw;
    }

    .menu-item-desc
    {
        font-size: 1.25vw;
    }

}


/* NARROW WINDOW / PORTRAIT ORIENTATION */
@media screen and (max-width:600px)
{
    .item-container
    {
        width:55vw;
    }

    .menu-item
    {
        max-width:80vw;
    }

    .menu-item-name
    {
        font-size: 4vw;
    }

    .menu-item-desc
    {
        font-size: 2.5vw;
    }
}

